body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}

button {
  cursor: pointer;
}
.search-form {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding: 8px 0;

  text-align: center;
  background-color: rgb(94, 94, 196);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-input {
  width: 264px;
  padding: 8px;
  border-radius: 4px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.search-input:focus {
  border: 1px solid rgba(40, 16, 250, 0.815);
}

.search-btn {
  width: 60px;
  height: 33px;
  padding: 8px;

  color: transparent;
  background-color: rgb(233, 231, 231);
  border: 1px solid transparent;
  border-radius: 4px;

  background-image: url('../images/bx_search-alt-2.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 49px;
  gap: 16px;
}

.photo-card-link {
  width: calc((100% - 3 * 16px) / 4);
}

.photo-card {
  overflow: hidden;
}

.photo-card > img {
  width: 100%;
  height: 214px;

  object-fit: cover;
}

.info {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;

  border: 1px solid #e9e9e9;
  border-top: 0;
}

.info-item {
  text-align: center;
}

/* Load-more */
.load-more {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: white;

  background-color: rgba(40, 16, 250, 0.815);
  border: 1px solid transparent;
  border-radius: 4px;
}
